In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({"key1": ["a","a", None, "b","b", "a", None], 
                  "key2": pd.Series([1,2,1,2,1,None,1], dtype="Int64"), 
                  "data1": np.random.standard_normal(7),  
                  "data2": np.random.standard_normal(7)})

In [4]:
df

   key1  key2     data1     data2
0     a     1  0.082010  0.610542
1     a     2  1.846578  0.900915
2  None     1 -1.411299  0.355846
3     b     2 -0.151282  1.284676
4     b     1 -0.461634  0.863540
5     a  <NA> -0.636027  2.036740
6  None     1 -1.202328 -0.329614

In [7]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.082010  0.610542
1    a     2  1.846578  0.900915
5    a  <NA> -0.636027  2.036740
b
  key1  key2     data1     data2
3    b     2 -0.151282  1.284676
4    b     1 -0.461634  0.863540